* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(202, 238, 202);
}

#panel {
  overflow: hidden;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
}

#ptop {
  display: flex;
  padding: 0px 30%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  height: 100px;
  background-color: rgb(65, 102, 65);
}

.elem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.elem h2 {
  font-weight: 500;
  font-size: 20px;
}

.box {
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(26, 71, 49);
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
}

#pbtm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  height: calc(100% - 100px);
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(55, 129, 93);
  color: #fff;
  font-weight: 500;
}

.bubble:hover {
  cursor: pointer;
  background-color: rgb(26, 71, 49);
}